#body {
    background-color: rgb(255, 192, 192);
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(68, 19, 63);
    text-align: center;
    padding: 15px;
    border-radius: 15%;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 2px rgb(68, 19, 63);
}

#logo {
    height: 100px;
    border-radius: 50%;
    border: 10px solid rgb(68, 19, 63);
    box-shadow: 2px 4px 6pc rgb(68, 19, 63);
}

#head {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 40px;
}

.entryForm {
    width: 400px;
    border: 10px solid rgb(68, 19, 63);
    border-radius: 15%;
    padding: 30px;
    box-shadow: 2px 4px 6px;


}

.entry-box-button {
    box-shadow: rgb(68, 19, 63) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 80px;
    height: 60px;
    text-align: center;
    justify-content: center;
}

.entryList {
    width: 400px;
    border: 10px solid rgb(68, 19, 63);
    border-radius: 15%;
    padding: 30px;
    box-shadow: 2px 4px 6px;
    margin-top: 30px
}

.entryListTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

#edit-button {
    box-shadow: rgb(99, 29, 92) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 60px;
    height: 40px;
    text-align: center;
    justify-content: center;
}

#delete-button {
    box-shadow: rgb(99, 29, 92) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 60px;
    height: 40px;
    text-align: center;
    justify-content: center;
}

#buttons {
    text-align: center;
}

#each-entry-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(68, 19, 63);
    text-align: center;
    padding: 15px;
    border-radius: 15%;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 2px rgb(68, 19, 63);
}

#each-entry {
    margin: 0;
}

#entry-date {
    margin-bottom: 10px;
}

#entry-mood {
    margin-top: 10px;
    margin-bottom: 10px;
}



/* <div class="entryList">
        <h2 class="entryListTitle">Entries</h2>
            ${Entries()}
        </div>
    `
<div>
<div id="each-entry">${entry.concept}</div>
<div id="entry-date">${entry.date}</div>
<div id="entry-content">${entry.entry}</div>
<div id="entry-mood">How I felt:${entry.mood}</div>
<div id="buttons">
    <button id="edit-button">Edit</button>
    <button id="delete-button">Delete</button>
</div>
</div> */